<?xml version="1.0"?>
<launch>
  <arg name="output" default="screen"/>

  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />

  <node pkg="turtlebot3_wallfollower" type="wallfollower" name="wallfollower" output="$(arg output)" />

  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find turtlebot3_wallfollower)/rviz/default_view.rviz" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="$(arg output)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="$(arg output)"/>
</launch>
